/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Criando uma variável */
    --text-color: #fff;
    --text-hover: #dc143c;
    --bg-primary: #009;
    --margin-bottom: 40px;
}

body {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 600;
}
 
.header-page {
    width: 100%;
    min-height: 80px;
    /*background-color: #000;*/
    color: var(--text-color);

    display: flex;


    /* Alinhamento vertical*/
    align-items: center;

    /* Alinhamento horizontal*/
    justify-content: space-around;

    /* Quebra do conteúdo - Se não couber, ele tenta arrumar*/
    flex-wrap: wrap;

    /* Espaçamento para não deixar grudado nas margens */
    padding: 0 20px;

    position: absolute;
}

.header-page-menu ul {
    display: flex;
}

.header-page-menu li {
    margin: 0 10px;
}

.header-page-menu a {
    font-size: 17px;
    transition: .5s;
}

/* Pseudo seletor */
.header-page-menu a:hover {
    color: var(--text-hover);
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../images/pexels-felix-mittermeier-957002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.hero-title {
    margin-bottom: var(--margin-bottom);
    font-size: 7vmin;
}